/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #606878;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100vh;
}
html,
body {
  font-family: 'Averia Sans Libre', cursive;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Averia Sans Libre', cursive;
  color: black;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  margin: 0 auto;
}
footer {
  font-size: 3rem;
  align-self: center;
}
.banner {
  display: none;
}
@media (min-width: 500px) {
  .banner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2vh 2vw;
}
body button {
  width: 100px;
  height: 5vh;
  padding: 1px 3px;
  margin: 6vh 0;
  align-self: center;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
.container h1 {
  align-self: center;
}
.container .main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.container .main img {
  width: 100%;
}
.container p {
  padding: 2vh 5vw;
}
