#pic-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pic-columns img {
  margin: 5px;
  width: 40%;
  height: auto;
  margin-top: 3%;
}
@media (min-width: 1000px) {
  #pic-columns img {
    width: 30%;
  }
}
@media (min-width: 500px) {
  #desktop-adjust {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #desktop-adjust p {
    max-width: 50%;
  }
}
@media (min-width: 500px) {
  #desktop-adjust-reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    text-align: right;
  }
}
#team-info {
  margin: 1%;
}
#team-info .team-role {
  font-size: 2.4rem;
  margin: 15px 0;
}
#team-info a {
  display: block;
  font-size: 2rem;
  margin: 5px 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #D7DFFF;
}
body {
  background-color: #23242A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2vh 2vw;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #D7DFFF;
}
h1 {
  font-size: 4.8rem;
  color: white;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 2.2rem;
  line-height: 1.6;
}
.attribution {
  font-size: 1.2rem;
  margin-top: 5vh;
}
button {
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  color: #ffffff;
  box-shadow: 0 0 50px rgba(145, 92, 182, 0.4);
  font-weight: bold;
}
a:visited {
  color: rgba(145, 92, 182, 0.4);
}
a:link {
  color: #009FC7;
}
footer {
  font-size: 3rem;
  display: inline;
  text-align: center;
  padding: 30px;
}
body button {
  width: 10%;
  height: 10vh;
  padding: 1px 3px;
  margin: 6vh 0;
  align-self: center;
  background-color: #454852;
  color: #D7DFFF;
  border-color: black;
  border-radius: 15px;
  font-size: 2.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-self: center;
  background-color: #454852;
  padding: 1%;
}
.container h1 {
  align-self: center;
  margin-top: 2%;
}
.container h3 {
  margin: 4% 0;
  text-align: center;
}
.container .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 500px) {
  .container .main {
    align-self: center;
    width: 80%;
  }
}
.container .main img {
  width: 100%;
}
.container p {
  padding: 2vh 0;
  margin: 0 auto;
  max-width: 80%;
  text-align: start;
}
.container .conclusion {
  align-content: center;
}
.container .conclusion p {
  max-width: 80%;
  text-align: center;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.about-container img {
  border-radius: 200px;
}
.about-container h1 {
  align-self: center;
}
.about-container .grid-container {
  display: flex;
  flex-direction: column;
}
.about-container .grid-container .grid-top {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.about-container .grid-container .grid-top .left-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container .grid-container .grid-top .left-pics img {
  margin: 5px;
  width: 40%;
  height: auto;
  margin-top: 3%;
}
@media (min-width: 1000px) {
  .about-container .grid-container .grid-top .left-pics img {
    width: 30%;
  }
}
.about-container .grid-container .grid-top .left-pics .pic1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .about-container .grid-container .grid-top .left-pics .pic1-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .about-container .grid-container .grid-top .left-pics .pic1-container p {
    max-width: 50%;
  }
}
.about-container .grid-container .grid-top .left-pics .pic1-container .team-info {
  margin: 1%;
}
.about-container .grid-container .grid-top .left-pics .pic1-container .team-info .team-role {
  font-size: 2.4rem;
  margin: 15px 0;
}
.about-container .grid-container .grid-top .left-pics .pic1-container .team-info a {
  display: block;
  font-size: 2rem;
  margin: 5px 0;
}
.about-container .grid-container .grid-top .left-pics .pic2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .about-container .grid-container .grid-top .left-pics .pic2-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    text-align: right;
  }
}
.about-container .grid-container .grid-top .left-pics .pic2-container .team-info {
  margin: 1%;
}
.about-container .grid-container .grid-top .left-pics .pic2-container .team-info .team-role {
  font-size: 2.4rem;
  margin: 15px 0;
}
.about-container .grid-container .grid-top .left-pics .pic2-container .team-info a {
  display: block;
  font-size: 2rem;
  margin: 5px 0;
}
.about-container .grid-container .grid-top .right-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container .grid-container .grid-top .right-pics .pic3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 500px) {
  .about-container .grid-container .grid-top .right-pics .pic3-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .about-container .grid-container .grid-top .right-pics .pic3-container p {
    max-width: 50%;
  }
}
.about-container .grid-container .grid-top .right-pics .pic3-container .team-info {
  margin: 1%;
}
.about-container .grid-container .grid-top .right-pics .pic3-container .team-info .team-role {
  font-size: 2.4rem;
  margin: 15px 0;
}
.about-container .grid-container .grid-top .right-pics .pic3-container .team-info a {
  display: block;
  font-size: 2rem;
  margin: 5px 0;
}
.about-container .grid-container .grid-top .right-pics .pic4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .about-container .grid-container .grid-top .right-pics .pic4-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    text-align: right;
  }
}
.about-container .grid-container .grid-top .right-pics .pic4-container .team-info {
  margin: 1%;
}
.about-container .grid-container .grid-top .right-pics .pic4-container .team-info .team-role {
  font-size: 2.4rem;
  margin: 15px 0;
}
.about-container .grid-container .grid-top .right-pics .pic4-container .team-info a {
  display: block;
  font-size: 2rem;
  margin: 5px 0;
}
.about-container .grid-container .grid-top .right-pics img {
  margin: 5px;
  width: 40%;
  height: auto;
  margin-top: 3%;
}
@media (min-width: 1000px) {
  .about-container .grid-container .grid-top .right-pics img {
    width: 30%;
  }
}
@media (min-width: 500px) {
  .about-container .grid-container .grid-top .right-pics #desktop-adjust {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .about-container .grid-container .grid-top .right-pics #desktop-adjust p {
    max-width: 50%;
  }
}
.about-container .grid-bottom .pic5-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .about-container .grid-bottom .pic5-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .about-container .grid-bottom .pic5-container p {
    max-width: 50%;
  }
}
.about-container .grid-bottom .pic5-container .team-info {
  margin: 1%;
}
.about-container .grid-bottom .pic5-container .team-info .team-role {
  font-size: 2.4rem;
  margin: 15px 0;
}
.about-container .grid-bottom .pic5-container .team-info a {
  display: block;
  font-size: 2rem;
  margin: 5px 0;
}
.about-container .grid-bottom img {
  width: 40%;
  height: auto;
}
@media (min-width: 500px) {
  .about-container .grid-bottom img {
    width: 35%;
  }
}
