.about-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1000px;

  h1 {
    align-self: center;
  }
  .grid-container {
    display: flex;
    flex-direction: column;

    .grid-top {
      display: flex;
      flex-direction: column;
      align-content: center;

      .left-pics {
        #pic-columns;
        .pic1-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          #desktop-adjust;
        }
        .pic2-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          #desktop-adjust-reverse;
        }

      }
      .right-pics {
        .pic3-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          #desktop-adjust;
        }
        .pic4-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          #desktop-adjust-reverse;
        }
        #pic-columns;
        #desktop-adjust {
          @media @desktop {
             display: flex;
             flex-direction: row;
             width: 100%;
      
             p {
                 max-width: 50%;
             }
      
          }
         }
               }
    }
  }
  .grid-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    img {
      align-self: center;
      width: 50%;
      height: auto;
      margin: 3%;
      @media @desktop {
        width: 40%;
      }
    }
    p {
      align-self: center;
      max-width: 50%;
      margin-top: 3%;
    }
    #desktop-adjust;
  }
}
