* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: @text-primary;
}

body{
  background-color: @bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-content: center;
  align-items: center;
  padding: 2vh 2vw;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: @text-primary;
}

h1 {
  font-size: 4.8rem;
  color: white;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2.2rem;
  line-height: 1.6;
}

.attribution{
  font-size: 1.2rem;
  margin-top: 5vh;
}


.hover-button {
  display: inline-block;  
  width: 30%;  
  height: 8vh;
  margin: 6vh 0;
  align-self: center;
  background-color: @darkaccent;
  color: @text-primary;
  border-color: black;
  border-radius: 15px;
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  @media @desktop {
    width: 25%;
    font-size: 2rem;
  }
  @media @widescreen{
    width: 15%;
    font-size: 2.4rem;
  }
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 50px rgba(145, 92, 182, .4);
  font-weight: bold;
 }

 a:visited {
   color: rgba(145, 92, 182, .4);
 }

 a:link {
   color: #009FC7;
 }

