* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: @text-primary;
}

body{
  background-color: @bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-content: center;
  align-items: center;
  padding: 2vh 2vw;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: @text-primary;
}

h1 {
  font-size: 4.8rem;
  color: white;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2.2rem;
  line-height: 1.6;
}

.attribution{
  font-size: 1.2rem;
  margin-top: 5vh;
}

