* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

html,
body {
  font-family: "Averia Sans Libre", cursive;
  color: @text-primary;
}

body{
  background-color: @bg-color;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2vh 2vw;
}

// .banner{
//   display: none;
//   @media @desktop {
//     display: flex;
//     width: 100%;
//     justify-content: flex-end;
//     font-size: @header-font;
//   }
// }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Averia Sans Libre", cursive;
  color: @text-primary;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
}

.attribution{
  font-size: 1.2rem;
  margin-top: 5vh;
}

