// Mobile var
@desktop: ~"(min-width: 500px)";
@widescreen: ~"(min-width: 1000px)";


//colors
@bg-color: #23242A;
@text-primary: #D7DFFF;
@darkaccent: #454852;
@lightaccent: #636773;

//font vars
@footer-font: 3rem;
@header-font: 3rem;

//pic vars

