// Mobile var
@desktop: ~"(min-width: 500px)";

//color vars
@white: #FFFFFF;
@dark-electric-blue: #606878;
@emperor: #545454;

//color pointers
@bg-color: @dark-electric-blue;
@nav-color: @emperor;
@text-primary: black;
@text-secondary: @dark-electric-blue;

//font vars
@footer-font: 3rem;
@header-font: 3rem;

//pic vars

